# OS based
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Node.js
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Project Specific
frontend/build.log
backend/celerybeat-schedule
